#h1 {
    text-align: center;
}

p {
    display: inline-block;
    width: 13.5%;
    text-align: center;
}

.dates {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    font-size: 2.5vmax;
}

.dates2 {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 10px;
    font-size: 2.5vmax;
}

.red {
    color: rgb(255, 154, 38);
}

.day:nth-of-type(7n+7),
.day:nth-of-type(7n+1) {
    color: rgb(248, 155, 48);
    font-weight: bold;
}

.container {
    padding: 10px;
}

.day {
    border: 1px solid black;
    display: flex;
    cursor: pointer;
}

.weekDays {
    margin: auto;
    pointer-events: none;
}

.width {
    font-size: 3vw;
}

.blue {
    background-color: rgb(170, 197, 255);
}

.prevWeekDays {
    margin: auto;
    color: rgb(187, 184, 184);
    pointer-events: none;
}

.inline {
    display: inline-flex;
    width: 100%;
}

#arrow1,
#arrow2 {
    font-size: 5em;
    width: 33%;
    text-align: center;
    cursor: pointer;
}

.changedDate {
    width: 33%;
    text-align: center;
    display: grid;
}

#centered {
    margin: auto;
    font-size: 2em;
}

#modalBox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    border-radius: 0.5rem;
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.len100 {
    width: 80%;
    margin-bottom: 1em;
    border-radius: 0.4em;
    text-align: center;
    padding: 10px 0;
}

#submit {
    width: 20%;
    border-radius: 0.7em;
    padding: 0.5em;
    font-weight: bolder;
    background-color: green;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(10, 206, 10);
}

.middle {
    text-align: center;
}

#closeBtn {
    color: rgb(189, 189, 189);
    float: right;
    font-size: 40px;
}

#closeBtn:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalHeader {
    margin: auto;
    padding: 0.3em;
}

@keyframes modalopen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.submitted {
    background-color: rgb(141, 230, 81);
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
    /* border-bottom: 3px solid red; */
    /* pointer-events: none; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 10em;
    overflow-wrap: break-word;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover {
    color: red;
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    font-size: 20px;
}

#loading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

#loading-content {
    border-radius: 0.5rem;
    margin: 25% auto;
    padding: 20px;
    max-width: 50%;
    text-align: center;
    animation-name: modalopen;
    animation-duration: 1s;
}